<%- include("header.ejs") %>
<div>
    <% obras.forEach(obra => { %>
        <h1>ID Obra: <%= obra.id %></h1>
        <p>Nombre: <%= obra.nombre %></p>
        <p>Creacion: <%= obra.anioDeCreacion %></p>
        <p>Tipo: <%= obra.tipo %></p>
        <img src="/img/<%=obra.imagen%>">
    <% }); %>
</div>