<%- include("header.ejs") %>
<div>
    <% trenes.forEach(t => { %>
        <h1>ID Tren: <%= t.id %></h1>
        <p>Nombre: <%= t.nombre %></p>
        <p>Capacidad: <%= t.capacidad %></p>
        <button>
            <a href="<%= '/relaciones/trenes/' + t.id %>">Ver tren</a>
        </button>
    <%}); %>
</div>